@tailwind base;
@tailwind components;
@tailwind utilities;

.shiki {
	position: relative;
	font-family: 'Fira Code', monospace;
}

.shiki clipboard-copy {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100px;
	user-select: none;
	background-color: #262335;
	border: none;
	border-bottom-left-radius: 10px;
	color: #317ac3;
	font-weight: bold;
	letter-spacing: 0.05rem;
	cursor: pointer;
	padding: 6px 14px;
	transition: background-color 0.4s ease-out;
}

pre > clipboard-copy:hover {
	background-color: hsla(0, 0%, 100%, 0.072);
	color: #fcb32c;
}

.remark-code-title {
	display: none;
}
