/* Global CSS file */

html,
body {
	@apply h-full overflow-hidden;
}

.contains-task-list {
	list-style-type: none;
	padding-left: 0;
}

.prose h1 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.prose h2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.prose h3 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
