:root {
	--colour-code-line-numbers: hsl(219 14% 71% / 0.8);
	--colour-code-line-highlight: hsl(34 96% 55%);
	--colour-code-background-hue: 220;
	--colour-code-background-saturation: 13%;
	--colour-code-background-lightness: 18%;
	--colour-code-background-highlighted: hsl(43deg 48% 77% / 8%);

	--spacing-0: 0rem;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-4: 1rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-18: 4.5rem;
	--max-width-full: 100%;

	/* CREDIT: https://www.joshwcomeau.com/shadow-palette/ */
	--shadow-color: 194deg 84% 18%;
	--shadow-elevation-medium: -1px 1px 1.6px hsl(var(--shadow-color) / 0.36),
		-3.3px 3.3px 5.3px -0.8px hsl(var(--shadow-color) / 0.36), -8.2px 8.2px 13px -1.7px hsl(var(--shadow-color) / 0.36),
		-20px 20px 31.8px -2.5px hsl(var(--shadow-color) / 0.36);
}

/* BEGIN: code `[pre]` element styling */
.shiki {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--spacing-1);
	padding: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
	margin: var(--spacing-4) auto var(--spacing-18);
	box-shadow: var(--shadow-elevation-medium);
	overflow-x: auto;
	max-width: var(--max-width-full);
	font-family: 'Fira Code', 'SF Mono', 'Menlo', 'Courier New', monospace;
}
/* END: code `[pre]` element styling */

/* BEGIN: Line number styling */
code {
	counter-reset: step;
	counter-increment: step 0;
}

.line:not(.highlight-line) {
	border-left: var(--spacing-1) solid transparent;
}

.highlight-line {
	display: inline-block;
	background-color: var(--colour-code-background-highlighted);
	width: var(--max-width-full);
	border-left: var(--spacing-1) solid var(--colour-code-line-highlight);
}

code .line::before {
	display: inline-block;
	content: counter(step);
	counter-increment: step;
	width: var(--spacing-6);
	margin-left: var(--spacing-4);
	margin-right: var(--spacing-6);
	text-align: right;
	font-variant-numeric: tabular-nums;
	color: var(--colour-line-numbers);
}
/* END: Line number styling */

/* BEGIN: Copy-to-clipboard button styling */
.remark-code-title {
	/* Hidden element used to derive code language */
	display: none;
}
.copy-code-to-clipboard {
	align-self: end;
	min-width: 100px;
	user-select: none;
	background-color: #262335;
	border: none;
	border-bottom-left-radius: 10px;
	color: #317ac3;
	font-weight: bold;
	letter-spacing: 0.03rem;
	cursor: pointer;
	padding: 6px 14px;
	transition: background-color 0.4s ease-out;
	text-align: right;
}

.copy-code-to-clipboard:hover {
	background-color: hsla(0, 0%, 100%, 0.072);
	color: #fcb32c;
}
/* END: Copy-to-clipboard button styling */
