:root {
	--colour-code-line-highlight-normal: hsl(34deg 96% 50%);
	--colour-code-line-highlight-add: hsl(129deg 96% 50%);
	--colour-code-line-highlight-remove: hsl(337deg 96% 50%);
	--colour-code-background-highlighted-normal: hsl(43deg 48% 77% / 7%);
	--colour-code-background-highlighted-remove: hsl(340deg 97% 52% / 7%);
	--colour-code-background-highlighted-add: hsl(129deg 65% 62% / 7%);

	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-6: 1.5rem;
	--spacing-10: 2.5rem;
	--max-width-full: 100%;

	/* CREDIT: https://www.joshwcomeau.com/shadow-palette/ */
	--shadow-color: 194deg 84% 18%;
	--shadow-elevation-medium: -1px 1px 1.6px hsl(var(--shadow-color) / 0.36),
		-3.3px 3.3px 5.3px -0.8px hsl(var(--shadow-color) / 0.36), -8.2px 8.2px 13px -1.7px hsl(var(--shadow-color) / 0.36),
		-20px 20px 31.8px -2.5px hsl(var(--shadow-color) / 0.36);
}

/* BEGIN: code `[pre]` element styling */
.shiki {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow-elevation-medium);
	max-width: var(--max-width-full);
	font-family: 'Fira Code', 'SF Mono', 'Menlo', 'Courier New', monospace;
	padding: 0 !important;
	margin-bottom: var(--spacing-10) !important;
}
/* END: code `[pre]` element styling */

/* BEGIN: Line number styling */
.shiki code {
	min-width: fit-content;
	counter-reset: step;
	counter-increment: step 0;
	padding-bottom: var(--spacing-2);
}

.line {
	width: var(--max-width-full);
	display: inline-block;
}

.line:not(.highlight-line-normal, .highlight-line-add, .highlight-line-remove) {
	border-left: var(--spacing-1) solid transparent;
}

.highlight-line-normal {
	background-color: var(--colour-code-background-highlighted-normal);
	border-left: var(--spacing-1) solid var(--colour-code-line-highlight-normal);
}

.highlight-line-add {
	background-color: var(--colour-code-background-highlighted-add);
	border-left: var(--spacing-1) solid var(--colour-code-line-highlight-add);
}

.highlight-line-remove {
	background-color: var(--colour-code-background-highlighted-remove);
	border-left: var(--spacing-1) solid var(--colour-code-line-highlight-remove);
}

code .line::before {
	display: inline-block;
	width: var(--spacing-10);
	margin-right: var(--spacing-6);
	text-align: right;
	font-variant-numeric: tabular-nums;
}

code .line:not(.highlight-line-normal, .highlight-line-add, .highlight-line-remove)::before {
	content: ' ' counter(step);
	counter-increment: step;
	color: var(--colour-line-numbers);
}

code .highlight-line-add::before {
	content: '+ ' counter(step);
	counter-increment: step;
	color: var(--colour-code-line-highlight-add);
}

code .highlight-line-remove::before {
	content: '- ' counter(step);
	counter-increment: step;
	color: var(--colour-code-line-highlight-remove);
}

code .highlight-line-normal::before {
	content: '  ' counter(step);
	counter-increment: step;
	color: var(--colour-code-line-highlight-normal);
}
/* END: Line number styling */

.remark-code-title {
	/* Hidden element used to derive code language */
	display: none;
}
